<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(213, 213, 229);">
    <a class="navbar-brand" href="#">Library Inventory Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">All books <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onAddBookClick()" >Add new book</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu avoidcloseDropdown" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item" href="#" *ngFor="let category of categories">
              {{category.name}} 
              
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onOpenCategoryModal(null,'addCategory')" href="#">+</a> 
            <!-- <span id="delete-container"><a (click)="onOpenCategoryModal(null,'addCategory')"><i class="fa-solid fa-trash-can"></i></a></span>
            !-->
          </div>
        </li>
    
      </ul>
      <mat-form-field>
        <input matInput placeholder="Search a book" (input)="applyFilter($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

    </div>
  </nav>

<div id="main-book-container" class="data-table" >
   <span style="padding: 5px;"> <h6><p style="margin: 5px;">Total number of books in the inventory: {{dataSource.data.length}}</p></h6> </span>
   <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Image Column -->
    <ng-container matColumnDef="imgUrl">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let book"> <img [src]="book.imgUrl" style="max-height: 50px;"> </mat-cell>
    </ng-container>
  
    <!-- Book Name Column -->
    <ng-container matColumnDef="bookName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Book Name </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{book.bookName}} </mat-cell>
    </ng-container>
  
    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{book.author}} </mat-cell>
    </ng-container>
  
    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{book.category.name}} </mat-cell>
    </ng-container>
  
    <!-- Number of Pages Column -->
    <ng-container matColumnDef="numberOfPages">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Number of Pages </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{book.numberOfPages}} </mat-cell>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{book.description}} </mat-cell>
    </ng-container>
  
    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let book"> 
        <span id="edit-container"><a (click)="onEditBookClick(book)"><mat-icon color="primary">edit</mat-icon></a></span> 
      </mat-cell>
    </ng-container>
  
    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let book"> 
        <span id="delete-container"><a (click)="onDeleteBook(book.id)"><mat-icon color="warn">delete_outline</mat-icon></a></span> 
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="table-row"  *matRowDef="let row; columns: displayedColumns;"></mat-row>

  
  </mat-table>
 
 <mat-paginator #paginator 
 [pageIndex]="0"
 [pageSize]="5"
 [pageSizeOptions]="[5, 10, 20]" >
  </mat-paginator>
 </div>


   <!-- Add Category modal -->
<div class="modal fade" id="AddCategoryModal" tabindex="-1" role="dialog" aria-labelledby="AddCategoryModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddCateogryModal">Add a category </h5>
        <button id="add-category-form-close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addCategoryForm="ngForm" (ngSubmit)="onAddCategory(addCategoryForm)">
          <div class="form-group">
            <label for="name">Category name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="">
          </div>

          <div class="modal-footer">
          <button  type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="add-category-btn" type="submit" class="btn btn-primary">Add category</button>
        </div>
        </form>
      </div>
      
      
    </div>
  </div>
</div>

